<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Amble.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>457CE122420EBE81726C9E94EDDBFC767318C1E5</string>
				<key>dateExpires</key>
				<string>17/09/2027</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R24NQ823K9.com.pantaapp.panta</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>R24NQ823K9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Amble.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7c9e2088-29d1-4b93-9a02-3fd3353d53d5</string>
				<key>dateExpires</key>
				<string>17/09/2027</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.pantaapp.panta</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R24NQ823K9</string>
				<key>name</key>
				<string>Przemyslaw Luczak</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
